[Unit]
Description=./HAVOC remote operator task

[Service]
WorkingDirectory=/opt/havoc-remote
ExecStart=venv/bin/python3 link.py

StandardOutput=link.log
StandardError=link.log

[Install]
WantedBy=multi-user.target