[Unit]
Description=./HAVOC remote operator task

[Service]
WorkingDirectory=/opt/havoc-remote
ExecStart=/opt/havoc-remote/venv/bin/python3 link.py

StandardOutput=file:/opt/havoc-remote/link.log
StandardError=file:/opt/havoc-remote/link.log

[Install]
WantedBy=multi-user.target